@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Online__Store_Movies.Models.DTO.LoginModel;

<form method="post">
    <div class="pb-10">Login</div>
    <div class="input-container">
       
        <label asp-for="Username">UserName</label>
        <input type="text" asp-for="Username" class="w-40"/>
    </div>

    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Username"></span>
    </div>

    <div class="input-container">
        <label asp-for="Password">PassWord</label>
        <input type="password" asp-for="Password" />
        
    </div>

    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="input-container">
       <button class="btn btn-primary" type="submit"></button>

</div>
</form>